STRIPE_SECRET_KEY=
price_env=
STRIPE_SUCCESS_URL=http://localhost/nextchapter
STRIPE_CANCEL_URL=http://localhost/nextchapter
STRIPE_WEBHOOK_SECRET=http://localhost/nextchapter/api/stripe/webhook

DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=root
DB_PASS=

HUGGINGFACE_API_KEY=
HUGGINGFACE_CHAT_MODEL=katanemo/Arch-Router-1.5B:hf-inference
